<section class="spotlight">
    <div class="spotlight_left">
        <h3 class="spotlight_title">Artist Spotlight :</h3>
        <h3 class="spotlight_artist">{{spotlightArtist}}</h3>
        <div class="spotlight_social">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-soundcloud"></i>
            <i class="fa-brands fa-spotify"></i>
        </div>
    </div>

    <div class="spotlight_right">
        <!-- <img class="spotlight_img" src="https://images.complex.com/complex/images/c_scale,f_auto,q_auto,w_1920/fl_lossy,pg_1/iv2ktmmizkquutkfmjk5/wallice-music-photo-design-pp?fimg-client-default"  [alt]="spotlightArtist"/> -->
    <div class="video_container">
        <iframe width="460" height="315" src="https://www.youtube.com/embed/BS1EL0mEq4Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>
</section>
