<section class="spotlight">
  <div class="artist_top">
    <div class="artist_left_side">
      <h3 class="spotlight_title">Artist Spotlight</h3>
      <h3 class="spotlight_artist">{{ spotlightArtist }}</h3>
      <div class="spotlight_social">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-soundcloud"></i>
        <i class="fa-brands fa-spotify"></i>
      </div>
    </div>
    <img
      src="https://i.scdn.co/image/ab6761610000e5eb3bdde8e1df1b26aa6f628940"
      alt=""
    />
    <!-- <div class="artist_right_side">
      <img
      src="https://i.scdn.co/image/ab6761610000e5eb3bdde8e1df1b26aa6f628940"
      alt=""
    />
    </div> -->
  </div>

  <!-- <div class="artist_bottom">
    <div class="spotlight_left">
      <div class="video_container">
        <iframe
          src="https://www.youtube.com/embed/BS1EL0mEq4Y"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div> -->
</section>
