.artist_top {
  display: flex;
  flex-direction: row;
  align-items : center;
  background: var(--section_title_linear_bg);
  width: 100%;
}

.artist_top:hover{
  transition: all 0.1s ease-in;
  background: var(--section_title_linear_bg_reverse);
}

.artist_top > img {
  flex: 0.5;
  width: 300px;
  height: 100%;
}

.artist_top > .artist_right_side{
  padding: 0;
  margin: 0;
  /* height: 400px; */
}

.artist_left_side{
  flex: 0.5;
}

.artist_right_side{
  flex: 0.5;
}

.artist_bottom {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.spotlight {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.spotlight_img {
  width: 300px;
  height: 300px;
}

.spotlight_left {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spotlight_left:hover {
  transition: all 0.3s ease-in;
  background-color: aliceblue;
}

.spotlight_left:hover > .spotlight_title,
.spotlight_left:hover > .spotlight_artist,
.spotlight_left:hover > .spotlight_social {
  color: #000;
}

.spotlight_right {
  display: flex;
  flex-direction: column;
}

.spotlight_title {
  
  font-size: 4vw;
  letter-spacing: 5px;
  padding-left: 20px;
  margin-bottom: 20px;
  /* background-color: rgb(14, 209, 196); */
}

.spotlight_artist {
  font-size: 6vw;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.spotlight_title,
.spotlight_artist {
  text-align: center;
  color: #fff;
}

.spotlight_social {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  color: #fff;
  font-size: 4vw;
}

.spotlight_social > i:hover {
  color: aqua;
  cursor: pointer;
  transition: color 0.2s ease-in;
}
.video_container > iframe {
  width: 500px;
  height: 415px;
}

@media only screen and (max-width: 700px) {
  .spotlight {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
