.albums_container{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    flex-wrap: nowrap;
    gap: 10px;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.album_card{
    overflow-x: hidden;
    flex-wrap: nowrap;
    width: 200px;
    height: 250px;
    cursor: pointer;
}

.album_card:hover{
    opacity: 0.9;
    
}

.album_card:hover > img {
    border: 3px solid #cd19c1;
}

.album_card > img{
    border-radius: 50%;
}

.album_name{
    font-weight: 400;
}

.trending_albums{
    margin-top: 50px;
    margin-bottom: 20px;
}

.trending_albums > h3 {
    font-size: 25px;
    background: var(--soundcloud-color);
    padding-top: 5px;
    padding-left: 10px;
    height: 35px;
}

.trending_albums > h3:hover{
    transition: all 0.2s ease-in;
    background-color: rgb(22, 211, 211);
}