<section class="discover">
  <div class="row_1">
    <div class="discover_img">
      <!-- <img
        src="https://images.unsplash.com/photo-1502307100811-6bdc0981a85b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=978&q=80"
      /> -->
      <img src="https://images.unsplash.com/photo-1630713815198-17ff8a8a7103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGxpc3RlbmluZyUyMHRvJTIwbXVzaWN8ZW58MHx8MHx8&auto=format&fit=crop&w=1100&q=60" alt="woman listening to music"/>
    </div>
    <div class="discover_text">
      <div><h2>Discover.</h2></div>
      <div><h2>Enjoy.</h2></div>
      <div><h2>Repeat.</h2></div>
      <!-- <div class="signup">
                <span>playlists made just for <span id="you">you</span></span></div> -->
      <div class="listen"><a href="#">Listen</a></div>
    </div>
    
  </div>
  <!-- <div class="discover_search">
        <input type="text" placeholder="Search artists, albums, or songs..." />
    </div> -->
</section>
