.creators {
  flex-direction: column;
  background-image: url('../../assets/images/photo-1581368087049-7034ed0d1e6f.jpeg');
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90%;
  background-color: black;
}

.creator_title {
  font-size: 6vw;
  color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}
.creators > div {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #fff;
  text-align: center;
}

.creators > div > img {
    position: relative;
    width: 200px;
    height: 200px;
}

.creator_desription {
  text-align: center;
  font-weight: 600;
  font-size: 2vw;
  padding: 10px;
}

.creator_link {
  margin: 0 auto;
  margin-top: 20px;
  width: 200px;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--main-link-primary-color);
  cursor: pointer;
}

.creator_link:hover {
  transition: all 0.2s ease-in;
  color: black;
  background-color: aliceblue;
}

.hover_underline {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover_underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover_underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media only screen and (min-width: 500px){
    .creators > div{
        position: relative;
        top: 10%;
        left: 10%;
        width: 400px;
    }  

} 