<section class="creators">
  <div>
    <h1 class="creator_title">Calling all creators</h1>
    <!-- <img src="https://images.unsplash.com/photo-1650783756107-739513b38177?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTk4fHxjcmVhdG9yfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60" alt="'person sitting next to desk"> -->
    <p class="creator_desription">
      Get on SoundCloud to connect with fans, share your sounds, and grow your
      audience. What are you waiting for?
    </p>
    <a class="creator_link">Find out more</a>
  </div>
 
</section>
