@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: "Robot", sans-serif;
    --soundcloud-color: #e25c2b;
    --main-link-primary-color : #fff;
    --main-link-secondary-color: #000;
    --main-icon-color: #ebe7e7;
    background-color: rgb(242, 238, 238);
}