.search {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.search > div > input {
  width: 500px;
  border-radius: 5px;
  height: 40px;
  padding-left: 15px;
  background-color: var(--main-icon-color);
  border: none;
  outline: none;
}

.search > div > i {
  color: rgb(235, 114, 28);
  position: relative;
  left: -35px;
}

.search > a {
  color: var(--main-link-primary-color);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--soundcloud-color);
  text-align: center;
}

@media screen and (max-width: 700px) {
  .search {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .search > div > input,
  .search > a {
    width: 400px;
  }
}
